@model IEnumerable<SimpleSocialMediaPlatform.Models.UserPostCommentViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .post-container {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 10px;
    }

    .post-header {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .comment-container {
        margin-left: 20px;
        border-left: 2px solid #ccc;
        padding-left: 10px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="post-container">
        <div class="post-header">
            @Html.DisplayFor(modelItem => item.UserInfoDetails.FullName)
        </div>
        @foreach (var p in item.UserPosts)
        {
            <div class="post-content">
                <div>@Html.DisplayFor(modelItem => p.Titel)</div>
                <div>@Html.DisplayFor(modelItem => p.Body)</div>
            </div>
            <div class="comment-container">
                @foreach (var c in item.UserComments)
                {
                   
                        <div class="comment-content">
                            <div>@Html.DisplayFor(modelItem => c.UserId)</div>
                            <div>@Html.DisplayFor(modelItem => c.PostId)</div>
                            <div>@Html.DisplayFor(modelItem => c.Body)</div>
                        </div>
                    
                }
            </div>
        }
    </div>
}
